* {
  font-family: 'Lato', sans-serif;
}

a {
  color: #5bc0de;
}

a:hover {
  color: #31b0d5;
}

h2 {
  font-size: 25px;
  color: #00ff00;
}

p {
  font-size: 18px;
  font-weight: 300;
  color: #333333;

  a {
    font-weight: 400;
  }
}
